<div class="container">
  <h2>Meet the Team</h2>
  <div class="row">
    <%= image_tag 'otto.jpg', id: 'about-person' %>
    <p id="otto-text">Edison bulb succulents stumptown, pour-over mustache direct trade schlitz gluten-free drinking vinegar YOLO man braid lo-fi. Hammock small batch four dollar toast master cleanse heirloom chia raw denim, wolf viral letterpress chartreuse succulents brooklyn. IPhone iceland subway tile raclette hella gentrify, heirloom dreamcatcher scenester gastropub semiotics mlkshk chartreuse. VHS pug tumblr, cardigan pickled blue bottle XOXO. Selvage literally franzen, af drinking vinegar synth wolf. Slow-carb paleo squid disrupt banjo. Brunch leggings tofu, thundercats pop-up affogato poke tumeric.</p>
  </div>
  <div class="row">
  <%= image_tag 'adrian.jpg', id: 'about-person' %>
  <p>Edison bulb succulents stumptown, pour-over mustache direct trade schlitz gluten-free drinking vinegar YOLO man braid lo-fi. Hammock small batch four dollar toast master cleanse heirloom chia raw denim, wolf viral letterpress chartreuse succulents brooklyn. IPhone iceland subway tile raclette hella gentrify, heirloom dreamcatcher scenester gastropub semiotics mlkshk chartreuse. VHS pug tumblr, cardigan pickled blue bottle XOXO. Selvage literally franzen, af drinking vinegar synth wolf. Slow-carb paleo squid disrupt banjo. Brunch leggings tofu, thundercats pop-up affogato poke tumeric.</p>
</div>
<div class="row">
  <%= image_tag 'luke.jpg', id:'about-person' %>
  <p>Edison bulb succulents stumptown, pour-over mustache direct trade schlitz gluten-free drinking vinegar YOLO man braid lo-fi. Hammock small batch four dollar toast master cleanse heirloom chia raw denim, wolf viral letterpress chartreuse succulents brooklyn. IPhone iceland subway tile raclette hella gentrify, heirloom dreamcatcher scenester gastropub semiotics mlkshk chartreuse. VHS pug tumblr, cardigan pickled blue bottle XOXO. Selvage literally franzen, af drinking vinegar synth wolf. Slow-carb paleo squid disrupt banjo. Brunch leggings tofu, thundercats pop-up affogato poke tumeric.</p>
</div>
</div>
