<div class='container'>
  <center><h1>Let's talk!</h1></center>

  	<section class="split">
  		<section>
  			<div class="contact-method">
  				<span class="icon alt fa-envelope"></span>
  				<h3>Email</h3>
  				<a href="#">adventureoats@gmail.com</a>
  			</div>
  		</section>
      <hr>
  		<section>
  			<div class="contact-method">
  				<span class="icon alt fa-phone"></span>
  				<h3>Phone</h3>
  				<span>(406) 600-0554 </span>
  			</div>
  		</section>
      <hr>
  		<section>
  			<div class="contact-method">
  				<span class="icon alt fa-home"></span>
  				<h3>Address</h3>
  				<span>1234 Somewhere Road #5432<br />
  				Nashville, TN 00000<br />
  				United States of America</span>
  			</div>
  		</section>
  	</section>
  </div>
</section>
</div>
