@import "materialize";

.products {
  font-size: 84px;
}
#about-person {
  max-width: 300px;
  max-height: 300px;
}

#otto-text {
  float: right;
}
.card {
  color: black;
}
h3 {
  color: black;
}
.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}
#product-photo {
  max-width: 300px;
  max-height: 300px;
}
.product-info {
  text-align: center;
}
.col {
  text-align: center;
}
.images, .indexbox {
  height: 100%;
  width: 100%;
  padding: 0px;

}
.tiles article {
  padding: 0px !important;
}
header {
  position: absolute !important;
  right: 10px !important;
}

.major {
  padding-right: 5%;
}
#adventureheader {
  position: relative !important;
}

.row .team-img-circle {
  border-radius: 50% !important;
}
.team-text {
  text-align: center;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #oat-logo {
    max-width: 300px;
    max-height: 300px;
    position: relative;
  }
}
