<% @products.each do |product| %>
<div class="row">
  <div class="col s6 offset-s3 valign">
    <div class="card">
      <div class="card-image">
        <%= image_tag product.image.url, id: "product1" %>
        <span class="card-title"><h3>Product</span></h3>
      </div>
      <div class="card-content">
        <%= product.title %>
      </div>
      <div class="card-action">
        <%= link_to "View this product", product_path(product) %>
      </div>
    </div>
  </div>
</div>
<% end %>
